*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: aqua;
    height: 100px;
}
nav{
    position: absolute;
    top: 30px;
    margin-left: 20px;  
    display: flex;
    flex-flow: row;  
    background-color: rgb(145, 221, 149);
    width: 95%;
}

li{
    list-style-type:none;
    font-size: 130%;
    background-color: rgb(221, 175, 145);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10%;
}
article{
    width: 20%;
    background-color: red;
    margin-left: 10%;
    font-size: 60%;
}
#imatge{
    background-image: url("https://i.pinimg.com/736x/37/9a/af/379aafab0c2da1a06cd05e527d4cc28a.jpg");
    padding-bottom: 80%;
    background-size: cover;
    opacity: 0.2;
}
#articles{
    margin-top: 20px;
    display: flex;
    flex-flow: row;  
}
footer{
    height: 50px;
    background-color: rgb(251, 255, 4);
    margin: 20px;
}
